{% extends 'base.html' %}

{% block title %}
<div class="container">
    <title>About</title>

{% endblock %}

{% block body %}
<div class="container">
    <h1> Shop </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta unde quidem ipsa atque consequatur eaque suscipit
        illo quia accusantium ipsum, error rerum nulla beatae quae reiciendis id cum aut! Iusto.
        Vero aliquid necessitatibus, recusandae labore qui dolor facilis earum nesciunt placeat, architecto eum quam
        doloremque maiores repellat laudantium deleniti. Dolores voluptate quo animi eius numquam fugit ea? Dolores,
        ipsam commodi!
        Autem facilis nam, illum facere sint esse! Maxime sit mollitia suscipit recusandae. Tempora itaque natus
        perspiciatis non facere sapiente, quis doloremque? Ad sint in reprehenderit placeat quia fugit delectus aperiam.
    </p>
</div>
</div>
{% endblock %}