{% extends 'base.html' %}

{% block title %}
<div class="container">
    <title>Ramen</title>
    {% endblock %}

    {% block body %}
    <div class="pricing-header px-3 py-3 pt-md-2 pb-md-2 mx-auto text-center">
        <h1 class="display-4">Товары</h1>
        <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with
            this Bootstrap example. It’s built with default Bootstrap components and utilities with little
            customization.</p>
    </div>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for el in data %}
            <div class="col mb-4 d-flex">
                <div class="card rounded-3 shadow-sm flex-fill d-flex flex-column">
                    <div class="card-header py-3" style="height: 80px; overflow: hidden; text-overflow: ellipsis; white-space: normal;">
                        <h4 class="my-0 fw-normal">{{ el.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ el.price }}<small
                                class="text-body-secondary fw-light">$</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button> -->
                        <a href="/buy/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary">Купить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</div>

{% endblock %}